<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <File name="Search" fileName="logs/search.log">
            <PatternLayout pattern="%d{ISO8601} %-p- %m%n"/>
            <Filters>
                <MarkerFilter marker = "INPUT_HISTORY"/>
            </Filters>
        </File>
        <File name="InputErrors" fileName="logs/input_errors.log">
            <PatternLayout pattern="%d{ISO8601} %-p- %m%n"/>
            <Filters>
                <MarkerFilter marker = "INVALID_STATIONS"/>
            </Filters>
        </File>
        <File name="Exceptions" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{ISO8601} %-p- %m%n"/>
            <Filters>
                <MarkerFilter marker = "EXCEPTIONS"/>
            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Search" />
            <appender-ref ref="InputErrors" />
            <appender-ref ref="Exceptions" />
        </root>
    </loggers>
</configuration>

